@tailwind base;
@tailwind components;
@tailwind utilities;

body, #__next {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

main {
    flex: 1;
}

.min-h-75 {
    min-height: 75vh;
}

a.active {
  @apply bg-base-300 text-base-content;
}

h1 {
  background: linear-gradient(to top, hsl(var(--p) / 25%) 0%, hsl(var(--p) / 25%) 30%, transparent 30.01%);
  box-decoration-break: clone;
}

.menu li > *:not(ul):not(details).active {
  background-color: hsl(var(--bc)/10%);
  color: hsl(var(--ac));
}

.home-card:hover:before {
  z-index: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: -30%;
  border-radius: 100%;
  background-color: hsl(var(--in) / 12%);
}